/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    background-color: #0B3948;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Teko', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    margin: 0;
    height: 100%;
}

ul.navlist{
    display: flex;
    justify-content: space-evenly;
}
.nav{
    border-radius: 0 0 12px 12px;
    color:lightgrey;
    font-size: 2em;
    padding: 12px;
    position: sticky;
    top: 0px;

}

.nav,
ul.navlist>li,
ul.navlist,
a{
    background-color: #0B3948;
    position: sticky;
    margin-bottom: -2px;
}


.nav>ul>li:hover{
    cursor:pointer;
    font-size: 105%;
    text-decoration: underline;
    transition: .3s;
}
a{
    text-decoration: none;
    color:lightgrey
}

.first-myth{
    display:flex;
    padding: 40px;
}
.second-myth{
    display:flex;
    flex-direction: row-reverse;
    padding: 40px;
    
}
.third-myth{
    display:flex;
    padding: 40px;
}
.fourth-myth{
    display:flex;
    flex-direction: row-reverse;
    padding: 40px;
}
.fifth-myth{
    display:flex;
    padding: 40px;
}

.left-side1,
.left-side2,
.left-side3,
.left-side4,
.left-side5{
    font-size: 2em;
    padding: 40px;
    background-color: grey;
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 5px solid darkslategray;
}

.right-side1>img,
.right-side2>img,
.right-side3>img,
.right-side4>img,
.right-side5>img{
    border-radius: 20px;
    border: 5px solid darkslategray;
}

.left-side1>p,
.left-side2>p,
.left-side3>p,
.left-side4>p,
.left-side5>p{
    background-color: grey;
    border-radius: 8px;
}
.right-side{
    background-color: grey;
}
.footer>ul{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left:40px;
    margin-right: 40px;
    color: white;
    font-size: 1.8em;
}

.footer{
    background-color: #0B3948;
    border-radius: 8px 8px;
}
sup{
    font-size:.5em;
    background-color: grey;
}

.first-myth:hover,
.second-myth:hover,
.third-myth:hover,
.fourth-myth:hover,
.fifth-myth:hover{
    transform: scale(1.01);
    transition: 1s;
    cursor:pointer;
    
}