/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    background-color: #0B3948;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Teko', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    margin: 0;
    height: 100%;
}

ul.navlist{
    display: flex;
    justify-content: space-evenly;
}
.nav{
    border-radius: 0 0 12px 12px;
    color:lightgrey;
    font-size: 2em;
    padding: 12px;
    position: sticky;
    top: 0px;

}

.nav,
ul.navlist>li,
ul.navlist,
a{
    background-color: #0B3948;
    position: sticky;
    margin-bottom: -2px;
}
.hero{
    border: 1px solid black;
    display: flex;
}
.heropic{
    border-radius: 5px;
    border: 4px solid white;
}

.left-side,
.right-side{
    background-color: #416165;
    padding: 5px;
    border-bottom: 5px solid black;
}
.left-side{
    display: flex;
    font-size: 2em;
    color:blanchedalmond;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}
.left-side>p{
    border-radius: 8px;
    padding: 10px;
}
.left-side2,
.right-side2{
    background-color: #D0CDD7;
}
.main{
    display: flex;
    flex-direction: row-reverse;
}
.main-img{
    border-radius: 6px;
    border: 4px solid white;
    margin: 8px;
}

.left-side2{
    display: flex;
    font-size:  2.2em;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #D0CDD7;
}
.footer>ul{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left:40px;
    margin-right: 40px;
    color: white;
    font-size: 1.8em;
}

.footer{
    background-color: #0B3948;
    border-radius: 8px 8px;
}
.left-side2>p{
    padding: 12px;
    border-radius: 8px;
}

.nav>ul>li:hover{
    cursor:pointer;
    font-size: 105%;
    text-decoration: underline;
    transition: .3s;
}
a{
    text-decoration: none;
    color:lightgrey
}